<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AgroNex - Smart Farming</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  {% with messages = get_flashed_messages() %}
{% if messages and 'logged out' in messages[0]|lower %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  Swal.fire({
    title: "Logged Out 👋",
    text: "{{ messages[0] }}",
    icon: "success",
    confirmButtonColor: "#22c55e"
  });
});
</script>
{% endif %}
{% endwith %}

<nav class="navbar">
  <a href="/">
    <div class="logo">🌱 AgroNex</div>
  </a>

  <div class="menu" onclick="toggleMenu()">☰</div>
    <div class="nav-links" id="navLinks">
    <a href="/">Home</a>
    <a href="dashboard">Dashboard</a>
    <a href="about">About</a>
    <a href="login" class="login-highlight">Login</a>
  </div>
</nav>

<section class="hero reveal">

  <!-- Background Video -->
  <video autoplay muted loop playsinline class="bg-video">
    <source src="/static/images/index.mp4" type="video/mp4">
  </video>

  <!-- Dark Overlay -->
  <div class="hero-overlay"></div>

  <!-- Hero Content -->
  <div class="hero-content zoom">
    <h1>Smart Agriculture Revolution</h1>
    <p>Monitor Crops • Predict Yield • Optimize Irrigation</p>
  </div>

</section>

<section class="features reveal">
  <div class="card zoom">
    <h3>🌾 Crop Monitoring</h3>
    <p>Real-time health monitoring using IoT sensors.</p>
  </div>
  <div class="card zoom">
    <h3>🌦 Weather Forecast</h3>
    <p>AI-based climate prediction for better planning.</p>
  </div>
  <div class="card zoom">
    <h3>💧 Smart Irrigation</h3>
    <p>Automated irrigation system to save water.</p>
  </div>
  <div class="card zoom">
    <h3>📊 Yield Analytics</h3>
    <p>Data-driven insights to maximize production.</p>
  </div>
</section>


<footer class="footer reveal-left">
  <div class="footer-container">
    <div>
      <h3>🌱 AgroNex</h3>
      <p>Smart Farming powered by AI & IoT technologies to increase productivity and sustainability.</p>
    </div>
    <div></div>
    <div></div>
    <div>
      <h4>Contact</h4>
      <p>Email: support@agronex.com</p>
      <p>Phone: +91 9499741881</p>
    </div>
  </div>
  <p class="copyright">© 2026 AgroNex | All Rights Reserved</p>
</footer>


<script src="/static/js/main.js"></script>
</body>
</html>